/*Inheriting box-sizing, fancy way
 *https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

.intro {
  display: flex;
  justify-content: space-between;
}

button {
  background: #776e65;
  color: #faf8ef;
  border: 1px solid snow;
  border-radius: 0.2em;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.3em 0.9em;
}
button:hover {
  background: burlywood;
}

.button-new-game {
  align-self: center;
}

.button-undo {
  display: none;
  float: left;
  margin: 0 0.1em 0 0;
}
.button-undo span {
  vertical-align: middle;
}

.inner-link,
.link-new-game {
  font-style: inherit;
  font-weight: bold;
  color: inherit;
  line-height: 150%;
}

h2 {
  text-align: center;
  vertical-align: bottom;
}
h2 strong {
  font-size: 3em;
}

.game-title {
  align-self: flex-start;
}

.mainframe {
  position: relative;
  margin: 0 auto;
  width: 80vmin;
  display: flex;
  flex-flow: column wrap;
}

.game-field {
  display: flex;
  flex-flow: column nowrap;
  padding: 1.5vmin;
  width: 80vmin;
  height: 80vmin;
  background-color: #dbd7d2;
  border: 2px solid black;
  border-radius: 0.4em;
}
.game-field .row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 25%;
}
.game-field .row .tile {
  display: flex;
  background-color: snow;
  width: 20%;
  height: 80%;
  border: 0px solid snow;
  border-radius: 0.4em;
}

.game-rules {
  line-height: 1.5;
  border-bottom: 1px solid lightpink;
}

.footer {
  line-height: 150%;
  text-align: center;
}

.tile-new,
.tile-merged,
.tile-moved {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: inherit;
  border-radius: inherit;
  font-size: 2em;
}

.tile-merged {
  animation: showOnMerge 200ms linear;
}

@keyframes showOnMerge {
  0% {
    transform: scale(1);
    /* font-size: scale(1); */
  }
  50% {
    transform: scale(1.15);
    /* font-size: scale(1.1); */
  }
  100% {
    transform: scale(1);
    /* font-size: scale(1); */
  }
}
.tile-new {
  animation: showOnAdd 100ms ease-in-out;
}

@keyframes showOnAdd {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.tile-2 {
  background-color: lightcoral;
  color: snow;
}

.tile-4 {
  background: bisque;
  color: burlywood;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.05),
    inset 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.tile-8 {
  color: #f9f6f2;
  background: #f3b27a;
}

.tile-16 {
  color: #f9f6f2;
  background: #f69664;
}

.tile-32 {
  color: #f9f6f2;
  background: #f77c5f;
}

.tile-64 {
  color: #f9f6f2;
  background: #f75f3b;
}

.tile-128 {
  color: #f9f6f2;
  background: #edd073;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2380952381),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1428571429);
}

.tile-256 {
  color: #f9f6f2;
  background: #edcc62;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.3174603175),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1904761905);
}

.tile-512 {
  color: #f9f6f2;
  background: #edc950;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.3968253968),
    inset 0 0 0 1px rgba(255, 255, 255, 0.2380952381);
}

.tile-1024 {
  color: #f9f6f2;
  background: #edc53f;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.4761904762),
    inset 0 0 0 1px rgba(255, 255, 255, 0.2857142857);
}

.tile-2048 {
  color: #f9f6f2;
  background: #edc22e;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.5555555556),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3333333333);
}

.overlay {
  display: none;
  opacity: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

.popup {
  display: none;
  opacity: 0;
  z-index: 101;
  width: 50vw;
  height: 50vh;
  position: fixed;
  top: 25vh;
  left: 25vw;
  background-color: white;
  padding: 2vmin;
  border-radius: 6px;
}

.open {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  animation: showWinPopup 600ms linear;
  animation-fill-mode: forwards;
}

@keyframes showWinPopup {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
.for-call-popup {
  display: none;
}

.popup-close-btn {
  align-self: flex-end;
  opacity: 0.3;
  cursor: pointer;
  z-index: 103;
}

.popup-close-btn:hover {
  opacity: 1;
}

.popup-lost-msg,
.popup-win-msg {
  display: none;
}

.visible {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
